@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease all;
}

/* home screen */
.home-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  margin-bottom: 5rem;
}
.home-container h2{
  font-weight: 500;
}
.home-container .home-hero{
  display: flex;
  background-color: #a4c238;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  height: 10rem;
  position: relative;
}
.home-container .home-hero .text span.sub-text{
  font-weight: 300;
  font-size: 1rem;
}
.home-container .home-hero h1{
  font-size: 1.5rem;
  font-weight: 500;
}
.home-container .home-hero span{
  font-size: 3rem;
  font-weight: 700;
}
.home-container .home-hero img{
  position: absolute;
  bottom: -5rem;
  width: 10rem;
  right: 0;
}
.home-container .map{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loader-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-screen img{
  height: 7rem;
}

.loader{
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 15px);
}
.loading-spinner {
  position: relative;
  width: 40px; /* Adjust the size of the loader */
  height: 40px;
}

.loading-spinner div {
  position: absolute;
  width: 10px; /* Size of each dot */
  height: 10px;
  background-color: #a4c238; /* Green color */
  border-radius: 50%;
  animation: loading-animation 1.2s infinite ease-in-out;
}

/* Position dots in a circular pattern */
.loading-spinner div:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -0.4s;
}

.loading-spinner div:nth-child(2) {
  top: 25%;
  left: 87%;
  transform: translate(-50%, -50%);
  animation-delay: -0.3s;
}

.loading-spinner div:nth-child(3) {
  top: 75%;
  left: 87%;
  transform: translate(-50%, -50%);
  animation-delay: -0.2s;
}

.loading-spinner div:nth-child(4) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: -0.1s;
}

.loading-spinner div:nth-child(5) {
  top: 75%;
  left: 13%;
  transform: translate(-50%, -50%);
  animation-delay: 0s;
}

/* Animation for pulsating effect */
@keyframes loading-animation {
  0%, 80%, 100% {
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1);
  }
}

h2{
  font-size: 1.5rem;
}

/* preview container */
.preview-container {
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
.slide-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3rem;
}
.preview-container img{
  width: 20rem;
  display: flex;
  align-self: center;
}
.slide-hero span{
  color: #a4c238;
}

/* global button styling */
.btn{
  width: 100%;
  background-color: #a4c238;
  color: #fff;
  padding: 0.7rem;
  border-radius: 1.5rem;
  text-align: center;
  cursor: pointer;
}

/* login container */
.login-container{
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  text-align: center;
}
.login-container h2{
  font-size: 1.7rem;
  font-weight: 700;
}
.login-container h2 span{
  color: #a4c238;
}
.login-container .head-img{
  width: 12rem;
  display: flex;
  align-self: center;
}
.login-container .login-options{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.lines{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.line{
  height: 1px;
  width: 100%;
  background-color: #EEEEEE;
}
.login-container .logins-btn{
  border: 1px solid #EEEEEE;
  background: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}
.no-btn{
  font-weight: 300;
}
.no-btn span{
  color: #a4c238;
}
.not-btn{
  font-weight: 300;
}
.not-btn span{
  color: #000000;
  font-weight: 700;
}

/* create account section */
.create-container{
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
.create-container .inputs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-container .input{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #EEEEEE;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.create-container .input input, select{
  font-weight: 600;
  width: 100%;
  background: none;
  border: none;
}
.create-container .checkbox{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.create-container .checkbox input[type="checkbox"]{
  accent-color: #a4c238;
  border-color: #a4c238;
}
.create-container .lines span{
  font-weight: 600;
  width: calc(100% + 50px);
}
.create-container .socials{
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.create-container .socials img{
  border: 1px solid #EEEEEE;
  padding: 1rem;
  border-radius: 0.5rem;
}
.create-container .not-btn{
  display: flex;
  align-self: center;
}

input{
  outline: none;
}

div.active{
  border: 1px solid #a4c238;
  color: #a4c238;
}

/* language screen */
.language-container{
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.language-container h2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search{
  background-color: #EEEEEE;
  padding: 1rem;
  border-radius: 1rem;
  color: #a29e9e;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search input{
  background: none;
  border: none;
  outline: none;
}
.language-container form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.language-container label{
  border: 1px solid #EEEEEE;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
.language-container label span.code{
  font-weight: 200;
}
.language-container form input[type='radio']{
  accent-color: #a4c238;
}

label.active{
  border: 1px solid #a4c238;
}

/* create profile screen */
.profile-container{
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.profile-icon{
  position: relative;
  width: fit-content;
}
.profile-icon .edit{
  position: absolute;
  bottom: 0;
  right: 0;
}

.profile-container h2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-container .profiles{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.profile-container .profiles .inputs{
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #EEEEEE;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}
.profile-container .profiles .inputs input{
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
}

/* profile feed screen */
.profile-feed-container{
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}
.profile-feed-container .options{
  position: relative;
  background-color: #fff;
  padding: 0.2rem 0;
}
.profile-feed-container .options button{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #8ebc2c;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  z-index: -1;
}
.profile-feed-container button.logged{
  bottom: -2.5rem;
  z-index: 1;
}
.navbar{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  color: #9E9E9E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem 2rem;
}
.navbar span{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}
.navbar span span{
  font-size: 0.6rem;
}
.navbar img{
  width: 1.5rem;
}
.navbar .add{
  width: 3rem;
}
.profile-feed-container .heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-feed-container h2{
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.profile-feed-container h2 i{
  font-size: 1rem;
}
.profile-feed-container .options{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-feed-container .bio-profile{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
}
.profile-feed-container .bio-profile .position{
  font-weight: 700;
}
.profile-feed-container .bio-profile .web{
  color: #246BFD;
}

.profile-feed-container .stats{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.4rem;
}
.profile-feed-container .stats div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-feed-container .stats .text{
  font-size: 0.8rem;
  font-weight: 200;
}

.verti-line{
  width: 1px;
  background-color: #EEEEEE;
  margin: 0 1rem;
}

.profile-feed-container .quick-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-feed-container .quick-btn button{
  background-color: #a4c238;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  color: #fff;
  font-weight: 600;
}
.profile-feed-container .quick-btn .donate-btn{
  background-color: #EEEEEE;
  color: #000000;
}

.profile-feed-container .nearby{
  font-size: 0.7rem;
  background-color: #EEEEEE;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 1.5rem;
}
.profile-feed-container .nearby p{
  font-weight: 600;
}

.profile-feed-container .story{
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.profile-feed-container .story .stories{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.7rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.profile-feed-container .story::-webkit-scrollbar {
  height: 7px; /* Height of the horizontal scrollbar */
  background: #f0f0f0; /* Scrollbar background color */
  border-radius: 10px; /* Rounded scrollbar */
}

.profile-feed-container .story::-webkit-scrollbar-thumb {
  background: #a4c238; /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
}

.profile-feed-container .story::-webkit-scrollbar-thumb:hover {
  background: #8ebc2c; /* Slightly darker color on hover */
}

.profile-feed-container .feed{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.profile-feed-container .feed .feed-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 0.7rem;
}
.profile-feed-container .feed a{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  color: #9E9E9E;
  width: 100%;
  padding-bottom: 0.5rem;
}
.profile-feed-container .feed a:nth-child(1){
  color: #a4c238;
  border-bottom: 1px solid #8ebc2c;
}
.profile-feed-container .feed .feed-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


/* complaint form */

button.btn{
  border: none;
}

.complaint-form-container {
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.complaint-form-container h2.nav{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.complaint-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.profile-pic {
  width: 4rem;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info h3 {
  margin: 0;
  font-size: 1rem;
}

.privacy-status {
  background-color: #a4c238;
  padding: 0.2rem;
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  width: fit-content;
  font-size: 0.7rem;
}

.complaint-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.complaint-form .emergency-msg{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.emergency-message-input {
  width: 100%;
  height: 4rem;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  resize: none;
}

.media-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #EEEEEE;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
}
.photo-upload label{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.photo-upload span{
  font-size: 0.6rem;
}

.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #6c757d;
  cursor: pointer;
}

.or-text {
  margin: 10px 0;
  color: #6c757d;
  font-size: 1rem;
}

.audio-record {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #EEEEEE;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
}
.audio-record .records{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.audio-record .records span{
  font-size: 0.6rem;
}

.record-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  text-align: center;
}

.record-button.start {
  background-color: #007bff;
  color: white;
}

.record-button.stop {
  background-color: #dc3545;
  color: white;
}

.record-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

/* donate screen */
.donate-container {
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.donate-container h2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.donate-container .main{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.donate-container .main input{
  width: 100%;
  border: none;
  outline: none;
}
.donate-container .main .input{
  gap: 0.5rem;
}
.donate-container .main .input, .payment .head{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.donate-container .main .head span{
  color: #007bff;
  cursor: pointer;
}
.donate-container .main .payment{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.donate-container .main .payment-method{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}

.donate-container .payment-method-list .head{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 600;
}
.donate-container .payment-method-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.donate-container .payment-method-list .lists{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.donate-container .payment-method-list .lists div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donate-container .payment-method-list .lists div span{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.viewable{
  height: 100%;
}
.not-viewable{
  overflow: hidden;
  height: 0;

  transition: 0.3s ease height;
}

/* donate success screen */
.donate-success{
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}


/* recording animation */
.vinyl{
  animation: recording infinite 0.5s;
  font-size: 1.5rem;
  color: #a4c238;
}
@keyframes recording {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.3);
  }
}

/* find legal screen */
.legal-container{
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.legal-container h2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.legal-container .legals{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.legal-container .legals .legal{
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.legal-container .legals .left-sec{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}
.legal-container .legals .left-sec .legal-img{
  overflow: hidden;
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.legal-container .legals .left-sec .legal-img img{
  width: 5rem;
}
.legal-container .status{
  background-color: #a4c238;
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}
.legal-container .status.offline{
  background: none;
  border: 1px solid #a4c238;
  color: #a4c238;
}

/* legal practitioner profile screen */
.legal-profile-container{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.legal-profile-container h2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.legal-profile-container .legal-bio-img img{
  overflow: hidden;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid #a4c238;
  padding: 0.1rem;
}
.legal-profile-container .legal-bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.legal-profile-container .file-compl{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #ff0000;
  font-weight: 600;
  cursor: pointer;
}
.legal-profile-container .file-compl i{
  color: #fff;
  background-color: #ff0000;
  padding: 0.5rem;
  border-radius: 50%;
}